<% if @game %>
    <div class="row" style="text-align: center;">
        <h4>
            <%= @message || 'Game successfully logged!' %>
        </h4>
    </div>

    <div class="row" style="text-align: center;">
        <h3>
            <%= @game.barcode %>
        </h3>
        <h3>
            <%= @game.name %>
        </h3>
        <h3>
            <%= @game.by %>
        </h3>
    </div>
<% else %>
    <div class="row" style="text-align: center;">
        <h4>
            No game found!
        </h4>
    </div>
<% end %>