<a href="<%= path %>" class="btn btn-default btn-admin-box" style="margin: 15px;">
    <div class="btn-admin-glyph glyphicon glyphicon-<%= glyph%>" style="color: #777;"></div>
    <div class="btn-admin-text"><%= text %></div>
</a>