<div class="list-group-item">
    <div class="row" style="padding-left: 15px; padding-right: 15px;">
        <p class="col-xs-8">
            <%= "#{game.barcode}" %>
        </p>
        <input type="button" data-game-barcode="<%= game.barcode %>" class="btn btn-danger col-xs-4 return-storage-btn" value="Return Game" />
    </div>
</div>