<% content_for :title, 'Dev Team' %>

<div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
        <%= link_to 'Admin', admin_path %>
        &gt;
        About the Development Team
    </div>
    <div class="col-xs-1"></div>
</div>

<div class="row"><br/></div>

<div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
        <small>
            <p>The PAX Tabletop Library "mk" system was originally created by Joe Greathead [Mojo Jojo].</p>
            <p>Our development team includes:</p>
            <ul>
                <li>Joe Greathead [Mojo Jojo]</li>
                <li>Suzi Dao [Bluebombardier]</li>
                <li>Glenn Hollingsworth [Mebibyte]</li>
            </ul>
            <p>Our team commits their free time and energy in order to make this system as effective as possible. Your feedback and suggestions are invaluable to us! Please submit any suggestions or ideas you have to improve this app by using the suggestion feature found at the bottom of every page.</p>
            <p>
                <em>Interested in joining the dev team? Speak to your Deputy or department Manager!</em>
            </p>
        </small>
    </div>
    <div class="col-xs-1"></div>
</div>
