<% content_for :title, 'New Game' %>

<div class="row">
    <div class="col-xs-8">
        <%= link_to 'Admin', admin_path %>
        &gt;
        New Game
    </div>
    <div class="col-xs-2"></div>
</div>

<div class="row">
    <div class="col-xs-12 text-center">
        <h3>
            New Game
        </h3>
        <p>This will add a copy of a game to the library.</p>
    </div>
</div>

<div class="row">
    <div class="col-xs-hidden col-sm-2"></div>
    <div class="col-xs-12 col-sm-8 glyphicon-custom-left">
        <input type="text" id="new-g-barcode" class="form-control" placeholder="Scan GAME's barcode to add to library." autofocus />
        <span class="glyphicon glyphicon-tower form-control-feedback"></span>
    </div>
    <div class="col-xs-hidden col-sm-2"></div>
</div>

<div class="row"><br /></div>

<div class="row">
    <div class="col-xs-1 col-sm-2"></div>
        <div id="g-name" class="col-xs-10 col-sm-8"></div>
    <div class="col-xs-1 col-sm-2"></div>
</div>

<div class="modal fade" id="g-form" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>New Game</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row form-group">
                        <div class="col-xs-2"></div>
                        <div class="col-xs-8">
                            <input type="text" class="form-control" name="title" placeholder="Game Title" autocomplete="off" />
                            <span class="glyphicon glyphicon-remove form-control-feedback" style="display:none;"></span>
                        </div>
                        <div class="col-xs-2"></div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-2"></div>
                        <div class="col-xs-8">
                            <input type="text" class="form-control" name="publisher" placeholder="Game Publisher" />
                            <span class="glyphicon glyphicon-remove form-control-feedback" style="display:none;"></span>
                        </div>
                        <div class="col-xs-2"></div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-2"></div>
                        <div class="col-xs-8">
                            <label class="form-control" style="border: 0;">
                                <input type="checkbox" name="valuable" value="true"> Valuable?
                            </label>
                        </div>
                        <div class="col-xs-2"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" id="g-form-cancel">Cancel</button>
                <button class="btn btn-primary" id="g-form-save">Save and Continue</button>
            </div>
        </div>
    </div>
</div>
