<% content_for :title, 'Edit Publishers' %>

<div class="row">
    <div class="col-xs-6">
        <%= link_to 'Admin', admin_path %>
        &gt;
        Publishers
    </div>
</div>

<div class="row"><br/></div>

<div class="row">
    <div class="col-xs-12 glyphicon-custom-left">
        <input type="text" id="p-search" class="form-control" name="search" placeholder="Enter search terms here."
               value="<%= @search %>" autofocus onfocus="this.value = this.value;"/>
        <span class="glyphicon glyphicon-search form-control-feedback"></span>
    </div>
</div>

<div class="row"><br/></div>

<div id="publishers-table">
    <%= render 'publishers/table' %>
</div>

<script>
    $(document).ready(function(){
        $('#publishers-table').delegate('.edit-publisher-btn', 'click', function(){
            $.get('/admin/publishers/edit', { id: $(this).parents('tr').data('publisher-id') }, null, 'script');
        }).delegate('.cancel-publisher-btn', 'click', function(){
            $.get('/admin/publishers/cancel', { id: $(this).parents('tr').data('publisher-id') }, null, 'script');
        }).delegate('.save-publisher-btn', 'click', function(){
            var row = $(this).parents('tr'),
                    data = row.find('input,select').serializeArray();

            $.ajax({
                url: '/admin/publishers/' + row.data('publisher-id'),
                data: data,
                method: 'put',
                dataType: 'script'
            });
        });
    });
</script>