<% content_for :title, 'Reports' %>

<div class="row">
    <div class="col-xs-8">
        <%= link_to 'Admin', admin_path %>
        &gt;
        Database Reports
    </div>
</div>

<div class="row"><br/></div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <p>
            The below buttons will download .csv files directly to your computer. The download should begin within a couple of seconds after clicking. All information is based on data at the time of download.
        </p>
    </div>
</div>

<div class="row"><br/></div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <p>
            These files list games that are in the library. The first button lists all copies of the games individually and inclues title, publisher, barcode, and valuable/tournament flag. The second lists games grouped by title and publisher, with valuable flag, number of copies, and title ID.
            <br/><br/><em>The second button is the default library view posted after each show.</em>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-10 text-right">
        <input type="button" class="btn btn-primary" id="copies-btn" value="Download library by copy" />
        <input type="button" class="btn btn-primary" id="titles-btn" value="Download library by title" />
    </div>
</div>

<div class="row"><br/></div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <p>
            This file lists individual checkouts for the current show only. This includes checkout time, return time, attendee barcode, game barcode, and game title. This can be used for further non-SQL analysis of the show's data not covered by the <a href="<%= metrics_path(event: Event.current) %>">Metrics</a> page or to backup a short form version of the checkout data.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-10 text-right">
        <input type="button" class="btn btn-primary" id="checkouts-btn" value="Download checkouts for <%= Event.current.formatted_name %>" />
    </div>
</div>

<div class="row"><br/></div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <p>
            These files list games that are in Cold Storage. The first button lists all copies of the games individually and inclues title, publisher, barcode, and valuable flag. The second lists all games grouped by title and publisher, with valuable flag, number of copies, and title ID.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-10 text-right">
        <input type="button" class="btn btn-primary" id="storage-copies-btn" value="Download Cold Storage by copy" />
        <input type="button" class="btn btn-primary" id="storage-titles-btn" value="Download Cold Storage by title" />
    </div>
</div>

<div class="row"><br/></div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <p>
            These files list games that are in the library and in Cold Storage. The first button lists all copies of the games individually and inclues title, publisher, barcode, valuable flag, and storage status. The second lists all games grouped by title and publisher, with valuable flag, number of copies in travel, and number of copies in storage.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-10 text-right">
        <input type="button" class="btn btn-primary" id="total-copies-btn" value="Download all games by copy" />
        <input type="button" class="btn btn-primary" id="total-titles-btn" value="Download all games by title" />
    </div>
</div>


<script>
    $(document).ready(function(){
        $('#copies-btn').click(function(){
            getFileAt('/games/csv', 'TTLibrary_Games.csv');
        });

        $('#titles-btn').click(function(){
            getFileAt('/titles/csv', 'TTLibrary_Titles.csv');
        });

        $('#checkouts-btn').click(function(){
            getFileAt('/checkouts/csv', 'TTLibrary_Checkouts_<%= Event.current.formatted_name %>.csv');
        });

        $('#storage-copies-btn').click(function(){
            getFileAt('/storage/copies/csv', 'TTLibrary_Storage_Copies.csv');
        });

        $('#storage-titles-btn').click(function(){
            getFileAt('/storage/titles/csv', 'TTLibrary_Storage_Titles.csv');
        });

        $('#total-copies-btn').click(function(){
            getFileAt('/total/copies/csv', 'TTLibrary_Total_Copies.csv');
        });

        $('#total-titles-btn').click(function(){
            getFileAt('/total/titles/csv', 'TTLibrary_Total_Titles.csv');
        });
    });

    function getFileAt(url, fileName){
        var anchor = document.createElement('a'),
            handle;
        if(typeof anchor.download != 'string'){
            handle = window.open();
        }
        $.get(url, function(data){
            var csv = 'data:attachment/csv;base64,' + btoa(unescape(encodeURIComponent(data.csv)));
            if(typeof anchor.download === 'string'){
                anchor.download = fileName;
                anchor.href = csv;
                anchor.click();
            } else {
                handle.location = csv;
            }
        });
    }
</script>
