<div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
        <%= link_to '<- back to admin', admin_path %>
    </div>
    <div class="col-xs-2"></div>
</div>

<div class="row">
    <div class="col-xs-12" style="text-align: center;">
        <h3>
            Setup
        </h3>
        <p>This will add an entry for the scanned game as being present at the start of <%= Event.current.formatted_name %>.</p>
    </div>
</div>

<div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8 glyphicon-custom-left" style="text-align:center;">
        <input type="text" id="setup-barcode" class="form-control" name="barcode" placeholder="Scan GAME's barcode here." autofocus />
        <span class="glyphicon glyphicon-tower form-control-feedback"></span>
    </div>
    <div class="col-xs-2"></div>
</div>

<div id="game-display"></div>

<script>
    $(document).ready(function(){
        $('#setup-barcode').change(function(){
            $.get('/admin/setup', $(this).serialize(), null, 'script');
        }).blur(function(e){
            // set focus to occur 10 ms later because blur event does not complete yet
            setTimeout(function() {
                $('#setup-barcode').focus();
            }, 0);
        });
    });
</script>