<% content_for :title, 'Edit Titles' %>

<div class="row">
    <div class="col-xs-6">
        <%= link_to 'Admin', admin_path %>
        &gt;
        Titles
    </div>
</div>

<div class="row"><br/></div>

<div class="row">
    <div class="col-xs-12 glyphicon-custom-left">
        <input type="text" id="t-search" class="form-control" name="search" placeholder="Enter search terms here."
               value="<%= @search %>" autofocus onfocus="this.value = this.value;"/>
        <span class="glyphicon glyphicon-search form-control-feedback"></span>
    </div>
</div>

<div class="row"><br/></div>

<div id="titles-table">
    <%= render 'titles/table' %>
</div>

<script>
    $(document).ready(function(){
        $('#titles-table').delegate('.edit-title-btn', 'click', function(){
            $.get('/admin/titles/edit', { id: $(this).parents('tr').data('title-id') }, null, 'script');
        }).delegate('.cancel-title-btn', 'click', function(){
            $.get('/admin/titles/cancel', { id: $(this).parents('tr').data('title-id') }, null, 'script');
        }).delegate('.save-title-btn', 'click', function(){
            var row = $(this).parents('tr'),
                data = row.find('input,select').serializeArray();

            $.ajax({
                url: '/admin/titles/' + row.data('title-id'),
                data: data,
                method: 'put',
                dataType: 'script'
            });
        });
    });
</script>