<% content_for :title, 'Tournament Games' %>

<div class="row">
    <div class="col-xs-7">
        <%= link_to 'Admin', admin_path %>
        &gt;
        Tournament Games
    </div>
    <div class="col-xs-5 text-right">
        <%= link_to 'Recently Deleted', tournament_recently_deleted_path %>
    </div>
</div>

<div class="row"><br/></div>

<div class="row">
    <div class="col-xs-2">
        <input type="button" class="btn btn-primary" id="add-tournament-game-btn" value="Add Tournament Game" />
    </div>
    <div class="col-xs-10"></div>
</div>

<div class="row"><br/></div>

<div id="tournament-games-table">
    <%= render 'tournament_games/table' %>
</div>

<script>
    $(document).ready(function(){
        $('#add-tournament-game-btn').click(function(){
            if($('#tournament-games-table').find('tr[data-tournament-game-id=""]').length <= 0){
                $.get('/admin/tournament/edit', null, null, 'script');
            }
        });

        $('#tournament-games-table').delegate('.edit-tournament-game-btn', 'click', function(){
            $.get('/admin/tournament/edit', { id: $(this).parents('tr').data('tournament-game-id') }, null, 'script');
        }).delegate('.cancel-tournament-game-btn', 'click', function(){
            $.get('/admin/tournament/cancel', { id: $(this).parents('tr').data('tournament-game-id') }, null, 'script');
        }).delegate('.save-tournament-game-btn', 'click', function(){
            var row = $(this).parents('tr'),
                data = row.find('input,select').serializeArray();
            $.ajax({
                url: '/admin/tournament/' + row.data('tournament-game-id'),
                data: data,
                method: 'put',
                dataType: 'script'
            });
        }).delegate('.new-tournament-game-btn', 'click', function(){
            $.ajax({
                url: '/admin/tournament',
                data: $(this).parents('tr').find('input,select').serializeArray(),
                method: 'post',
                dataType: 'script'
            });
        }).delegate('.delete-tournament-game-btn', 'click', function(){
            $.ajax({
                url: '/admin/tournament/' + $(this).parents('tr').data('tournament-game-id'),
                method: 'delete',
                dataType: 'script'
            });
        });
    });
</script>
