<table class="table table-striped">
    <tr>
        <th class="col-xs-3">
            Group
        </th>
        <th class="col-xs-6">
            Description
        </th>
        <th class="col-xs-1">
            Games
        </th>
        <th class="col-xs-2"></th>
    </tr>
    <% @groups.each do |group| %>
        <%= render partial: 'loaners/group', locals: { group: group } %>
    <% end %>
</table>