<div class="row">
    <p class="col-xs-8">
        <%= "#{loan.game.barcode} - #{loan.game.name}" %>
    </p>
    <input type="button" data-game-barcode="<%= loan.game.barcode %>" class="btn btn-danger col-xs-4 return-loaner-btn" value="Return Game" />
</div>