<tr class="edit-publisher-row" data-publisher-id="<%= @publisher.id %>">
    <td class="col-xs-4">
        <input type="text" class="form-control" name="name" placeholder="Publisher Name" value="<%= @publisher.name %>" />
    </td>
    <td class="col-xs-2"></td>
    <td class="col-xs-2">
        <input type="button" class="btn btn-primary save-publisher-btn" value="Save" />
        <input type="button" class="btn btn-default cancel-publisher-btn" style="float:right;" value="Cancel" />
    </td>
</tr>