<tr class="edit-publisher-row" data-publisher-id="<%= publisher.id %>">
    <td class="col-xs-8">
        <%= publisher.name %>
    </td>
    <td class="col-xs-2">
        <%= publisher.active_titles.size %>
    </td>
    <td class="col-xs-2">
        <input type="button" class="btn btn-default edit-publisher-btn" style="width: 100%;" value="Edit" />
    </td>
</tr>