<div class="row">
    <p class="col-xs-8"><%= "#{checkout.game.barcode} - #{checkout.game.name}" %></p>
    <input type="button" data-checkout-id="<%= checkout.id %>" class="btn btn-danger col-xs-4 return-game" value="Return Game" />
</div>