<div class="row">
    <div class="col-xs-3"></div>
    <div class="col-xs-6 glyphicon-custom-left">
        <input type="text" id="find-barcode" class="form-control" name="barcode" placeholder="Enter ATTENDEE or GAME barcode here." autofocus value="<%= params[:barcode] %>" />
        <span class="glyphicon glyphicon-barcode form-control-feedback"></span>
    </div>
    <div class="col-xs-3"></div>
</div>

<br/>

<div id="found-div">
    <%= render partial: 'found' %>
</div>