<% content_for :title, 'Find Checkout' %>

<div class="row"><br /></div>
<div class="row"><br /></div>
<div class="row">
    <div class="col-xs-hidden col-sm-2"></div>
    <div class="col-xs-12 col-sm-8 glyphicon-custom-left">
        <input type="text" id="find-barcode" class="form-control" name="barcode" placeholder="Enter ATTENDEE barcode/last name, or GAME barcode here." autofocus value="<%= params[:barcode] %>" />
        <span class="glyphicon glyphicon-barcode form-control-feedback"></span>
    </div>
    <div class="col-xs-hidden col-sm-2"></div>
</div>

<br/>

<div id="found-div">
    <%= render partial: 'found' %>
</div>
