// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#events-table {
    td {
        vertical-align: middle;
    }
}

.btn-admin-box {
    height: 100px;
    width: 200px;
    .btn-admin-text {
        text-align: right;
        display: inline-block;
    }
    .btn-admin-glyph {
        font-size: 50px;
        top: 17px;
    }
}