/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_tree ../../../vendor/assets/stylesheets
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

#body-wrapper {
    width: 1050px;
    margin: 0 auto 3em;
}

nav ul li {
    text-align: center;
}

footer {
    background-color: #eee;
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 3em;
    color: #fff;
    div {
        transform: translateX(0%) translateY(50%);
    }
    a {
        color: #fff;
        text-decoration: underline;
    }
}

#logo {
    height: 28px;
    width: 510px;
    margin: 0 auto;
    background-color: #fff;
    text-align: right;
    line-height: 22px;
    padding: 3px 9px;
    letter-spacing: .04em;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: bold;
}

#tabletop-tag {
    height: 60px;
    width: 510px;
    margin: 0 auto;
    background: asset-url("pax_tabletop_tag_mk5.png") no-repeat;
}

header[data-event="prime"], header[data-event="west"] {
    background-color: #009DDC;
    #logo {
        color: #009DDC;
    }
}
header[data-event="east"] {
    background-color: #CE1D24;
    #logo {
        color: #CE1D24;
    }
}
header[data-event="south"] {
    background-color: #CC5500;
    #logo {
        color: #CC5500;
    }
}
header[data-event="aus"] {
    background-color: #FBB024;
    #logo {
        color: #FBB024;
    }
}
header[data-event="dev"] {
    background-color: #00A192;
    #logo {
        color: #00A192;
    }
}
header[data-event="setup"] {
    background-color: #0D0D0D;
    #logo {
        color: #0D0D0D;
    }
}
header[data-event="unplugged"] {
    background-color: #91479a;
    #logo {
        color: #91479a;
    }
}

footer[data-event="prime"], footer[data-event="west"], .btn-default[data-event="west"] {
    background-color: #009DDC;
}
footer[data-event="east"], .btn-default[data-event="east"]  {
    background-color: #CE1D24;
}
footer[data-event="south"], .btn-default[data-event="south"] {
    background-color: #CC5500;
}
footer[data-event="aus"], .btn-default[data-event="aus"]  {
    background-color: #FBB024;
}
footer[data-event="dev"], .btn-default[data-event="dev"]  {
    background-color: #00A192;
}
footer[data-event="setup"], .btn-default[data-event="setup"]  {
    background-color: #0D0D0D;
}
footer[data-event="unplugged"], .btn-default[data-event="unplugged"]  {
    background-color: #91479a;
}

path[data-event="prime"], path[data-event="west"] {
    fill: #009DDC;
}
path[data-event="east"] {
    fill: #CE1D24;
}
path[data-event="south"] {
    fill: #CC5500;
}
path[data-event="aus"] {
    fill: #FBB024;
}
path[data-event="dev"] {
    fill: #00A192;
}
path[data-event="setup"] {
    fill: #0D0D0D;
}
path[data-event="unplugged"] {
    fill: #91479a;
}

#notification-bin {
    width: 20%;
    position: absolute;
    color: #666;
    right: 25px;
    top: 10px;
    .note {
        position: relative;
        margin-bottom: 10px;
        z-index: 1000;
    }
}

.row p {
    padding: 10px 0;
    margin: 0;
}

#a-form, #g-form {
    .col-xs-8 {
        padding: 0;
    }
}

.glyphicon-table {
    width: 100%;
    text-align: center;
}

.glyphicon-custom-left .glyphicon {
    right: auto;
    left: 15px;
}
.glyphicon-custom-left input.form-control {
    padding-left: 34px;
}

#suggest-row {
    position: fixed;
    bottom: 3em;
    right: 0;
    input {
        margin: 27px 10px;
        float: right;
    }
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #eeeeee;
}

.alert-text-box {
    padding: 10px 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
}