/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_tree ../../../vendor/assets/stylesheets
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

#body-wrapper {
    max-width: 1050px;
    margin: 0 auto 3em;
}

.nav-tabs {
    align-items: stretch;
    display: flex;
    justify-content: space-between;

    & > li {
        display: flex;
        padding: 0 5px;
        text-align: center;
        min-width: 20%;
        & > a {
            align-items: center;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
            padding: 10px 5px;
            width: 100%;
        }
    }
}

footer {
    align-items: center;
    background-color: #eee;
    display: flex;
    height: auto;
    justify-content: space-around;
    width: 100%;
    position: fixed;
    bottom: 0;
    color: #fff;
    a {
        color: #fff;
        text-decoration: underline;
    }

    @media (min-width: 500px) {
        height: 3em;
    }
}

#logo {
    height: 28px;
    max-width: 510px;
    width: auto;
    margin: 0 auto;
    background-color: #fff;
    text-align: right;
    line-height: 22px;
    padding: 3px 9px;
    letter-spacing: .04em;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: bold;
}

#tabletop-tag {
    height: 60px;
    max-width: 510px;
    width: auto;
    margin: 0 auto;
}

.pax-tag {
    background: center asset-url("pax_tabletop_tag_mk5.png") no-repeat;
    background-size: contain;
}

.eccc-tag {
    background: center asset-url("eccc_logo_horizontal_hi.png") no-repeat;
    background-size: contain;
}

header[data-event="prime"], header[data-event="west"] {
    background-color: #009DDC;
    #logo {
        color: #009DDC;
    }
}
header[data-event="east"] {
    background-color: #CE1D24;
    #logo {
        color: #CE1D24;
    }
}
header[data-event="south"] {
    background-color: #CC5500;
    #logo {
        color: #CC5500;
    }
}
header[data-event="aus"] {
    background-color: #FBB024;
    #logo {
        color: #FBB024;
    }
}
header[data-event="dev"] {
    background-color: #00A192;
    #logo {
        color: #00A192;
    }
}
header[data-event="setup"] {
    background-color: #0D0D0D;
    #logo {
        color: #0D0D0D;
    }
}
header[data-event="unplugged"] {
    background-color: #91479a;
    #logo {
        color: #91479a;
    }
}

header[data-event="geek-girl-con"] {
    background-color: #ffd35a;
    #logo {
        color: #ffd35a;
    }
}

header[data-event="emerald-city-comic-con"] {
    background-color: #76b143;
    #logo {
        color: #76b143;
    }
}

footer[data-event="prime"], footer[data-event="west"], .btn-default[data-event="west"] {
    background-color: #009DDC;
}
footer[data-event="east"], .btn-default[data-event="east"]  {
    background-color: #CE1D24;
}
footer[data-event="south"], .btn-default[data-event="south"] {
    background-color: #CC5500;
}
footer[data-event="aus"], .btn-default[data-event="aus"]  {
    background-color: #FBB024;
}
footer[data-event="dev"], .btn-default[data-event="dev"]  {
    background-color: #00A192;
}
footer[data-event="setup"], .btn-default[data-event="setup"]  {
    background-color: #0D0D0D;
}
footer[data-event="unplugged"], .btn-default[data-event="unplugged"]  {
    background-color: #91479a;
}
footer[data-event="geek-girl-con"], .btn-default[data-event="geek-girl-con"]  {
    background-color: #ffd35a;
    color: #000 !important;
    button, a {
        color: #000 !important;
    }
}
footer[data-event="emerald-city-comic-con"], .btn-default[data-event="emerald-city-comic-con"]  {
    background-color: #76b143;
}

path[data-event="prime"], path[data-event="west"] {
    fill: #009DDC;
}
path[data-event="east"] {
    fill: #CE1D24;
}
path[data-event="south"] {
    fill: #CC5500;
}
path[data-event="aus"] {
    fill: #FBB024;
}
path[data-event="dev"] {
    fill: #00A192;
}
path[data-event="setup"] {
    fill: #0D0D0D;
}
path[data-event="unplugged"] {
    fill: #91479a;
}
path[data-event="geek-girl-con"] {
    fill: #ffd35a;
}

#notification-bin {
    width: 20%;
    position: absolute;
    color: #666;
    right: 25px;
    top: 10px;
    .note {
        position: relative;
        margin-bottom: 10px;
        z-index: 1000;
    }
}

.row p {
    padding: 10px 0;
    margin: 0;

    .alert,
    &.alert {
        display: block;
        margin: 0 auto;
        padding: 10px;
    }
}

#a-form, #g-form {
    .col-xs-8 {
        padding: 0;
    }
}

.glyphicon-table {
    width: 100%;
    text-align: center;
}

.glyphicon-custom-left .glyphicon {
    right: auto;
    left: 15px;
}
.glyphicon-custom-left input.form-control {
    padding-left: 34px;
}

#suggest-form {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin: 0 5px;
    padding: 0;
    width: 100%;
    pointer-events: all
}

#suggest-title {
    max-width: 35em;
}

#suggest-row {
    align-items: center;
    bottom: 3em;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    right: 0;
    width: 100%;
    pointer-events: none;

    a {
        margin: 27px 5px;
        pointer-events: all;
    }

    input {
        margin-right: 3px;
        pointer-events: all;
    }
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #eeeeee !important;
}

.alert-text-box {
    padding: 10px 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
}
