<div class="col-xs-12" style="margin-bottom: 6em;"></div>

<div id="suggest-row">
    <input id="suggest-btn" type="button" class="btn btn-default" value="Suggestion Box" />
    <div id="suggest-form" style="display: none;">
        <input id="suggest-title" placeholder="Suggest a game title or a library improvement idea here!" type="text" class="form-control"/>
        <input id="save-suggest" type="button" class="btn btn-primary" value=">>" />
        <input id="cancel-suggest" type="button" class="btn btn-default" value="X" />
    </div>
    <a href="/ReadMe.html" target="_blank" class="btn btn-default">Read the docs >></a>
</div>

<footer class="tt-footer" data-event="<%= @current_event.try(:short_name) %>">
    <div class="col-md-3">
        <a href="/longest">
            Today's longest checkout: <span id="longest-open-checkout">00:03:05</span>
        </a>
    </div>
    <div class="col-md-6" style="text-align: center;">
        Welcome to <%= @current_event.try(:formatted_name) %>!
    </div>
    <div class="col-md-3" style="text-align: right;">
        <a href="/recent">
            <span id="open-checkouts">X</span> of <span id="total-games">X</span> games checked out
        </a>
    </div>
</footer>
