<div id="suggest-row">
    <div class="col-xs-12">
        <input id="suggest-btn" type="button" class="btn btn-default" value="Suggest a Game!" />
        <div id="suggest-form" style="display: none;">
            <input id="cancel-suggest" type="button" class="btn btn-default" value="X" />
            <input id="save-suggest" type="button" class="btn btn-primary" value=">>" />
            <input id="suggest-title" placeholder="Suggest a game title here." type="text" class="form-control" name="title" style="width: 15em;"/>
        </div>
    </div>
</div>

<footer data-event="<%= @current_event.short_name %>">
    <div class="col-xs-4">
        Longest open checkout from today: <span id="longest-open-checkout">00:03:05</span>
    </div>
    <div class="col-xs-4" style="text-align: center;">
        Welcome to <%= @current_event.formatted_name %>
    </div>
    <div class="col-xs-4" style="text-align: right;">
        <span id="open-checkouts">X</span> open checkouts
    </div>
</footer>