<header data-event="<%= @current_event.short_name %>" style="height: 90px;">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
        <% if @current_event.is_pax %>
            <div id="tabletop-tag" class="pax-tag"></div>
            <div id="logo">
                <%= @current_event.short_name.upcase %>
            </div>
        <% elsif @current_event.is_ggc %>
            <div id="tabletop-tag" style="padding: 5px 0; width: 425px; height: 55px;">
                <%= render '/layouts/ggc_logo' %>
            </div>
            <div id="logo" style="width: 425px; color: #fff; font-weight: normal; box-shadow: -3px 3px 0 #000; background-color: #2d87c1; text-align: center;">
                TABLETOP
            </div>
        <% elsif @current_event.is_eccc %>
            <div id="tabletop-tag" class="eccc-tag" style="height: 90px;"></div>
        <% elsif @current_event.is_c2e2 %>
            <div id="tabletop-tag" class="c2e2-tag" style="height: 90px;"></div>
        <% elsif @current_event.is_shux %>
            <div id="tabletop-tag" class="shux-tag" style="height: 90px;"></div>
        <% end %>
    </div>
    <div class="col-xs-1"></div>
</header>
